{% extends 'menu_header.html' %}

<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ja">
<head>
    <title>社員マスタ</title>
</head>
<body>





<td>{{ID}}</td>


{% block body %}



<body>



         <form action="/m_syain" method="post">
         
         
         
         
         
        {% for Empstr in Syainstr %}
        
        
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >社員番号</th>
          <th class="sk_detail_h_s_readonly" >氏名</th>
        </tr>
        <tr>
          <td><input readonly type="text" id="syain_no" name="syain_no"  class="sk_detail_t_s_readonly"  value={{ Empstr.M_Syain.id }}></td>
          <td><input readonly type="text" id="shinsei_no" name="shinsei_no"  class="sk_detail_t_s_readonly" value={{ Empstr.M_Syain.name }}></td>
        </tr>
        </table> 
        
        <br>
                                   
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >部署</th>
        </tr>
        <tr>
          <td><input readonly type="text" id="root_id" name="root_id"  class="sk_detail_t_s_readonly" value={{ Empstr.M_Busyo.busyoname }}></td>
        </tr>
        </table>
         
        <br>
        
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >申請許可権限</th>
        </tr>
        <tr>
          <td><input readonly type="text" id="root_id" name="root_id"  class="sk_detail_t_s_readonly" value={{ Empstr.M_Syain.authority }}></td>
        </tr>
        </table> 
        <font size="1" color="#000099">※申請許可権限 : 0.申請許可権限なし / 1.申請許可権限あり / 9.ADMIN権限</font><br>

        
        
        
        <br>
             
        <table>  
        <tr>
          <th class="k_head_small" >パスワード</th>
        </tr>
        <tr>
          <td><input  type="password" id="password" name="password"  class="k_title_small" value={{ Empstr.M_Syain.password }} maxlength="40"></td>
        </tr>
        </table> 
        
        <br>
        
        <table>  
        <tr>
          <th class="k_head_small" >メールアドレス</th>
        </tr>
        <tr>
          <td><input  type="text" id="mail" name="mail"  class="k_title_small" value={{ Empstr.M_Syain.mail }} maxlength="100"></td>
        </tr>
        </table> 
        <br>
                                                    
        <table>  
        <tr>
          <th class="k_head" >ダウンロードファイル格納先</th>
        </tr>
        <tr>
          <td><input  type="text" id="doc_path" name="doc_path" class="k_title" maxlength="250" placeholder="※250文字まで入力可" value={{ Empstr.M_Syain.path_doc }}></td>
        </tr>
        </table> 
        <br>
        
                          
                          
                                     
        {% endfor %}  
        
        <br> 
                          
         
         
      <!--非表示のワーク領域。Javasriptで表示された「はい」「いいえ」確認ダイアログで選択した選択肢を格納する-->
        <input id="flg_yes_no"  name="flg_yes_no" class="textarea_hidden">
        <td><input type="submit" name="btnsubmit" id="btnsubmit"  class="btn-delete" value="更新" style="width: 100px; height: 40px;" ></td>
        
        
        
        </form>










{% endblock %}

</body>