{% extends 'menu_header.html' %}

<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ja">
<head>
    <title>社員マスタ</title>
</head>
<body>





<td>{{ID}}</td>


{% block body %}



<body>



  <form action="/m_syain_edit/{{ID}}/{{TOID}}/{{MODE}}" method="post">

         
{% if MODE == 'add' %}




    <font size="1" color="#000099">新規追加モード</font><br>
        <br>
        <table>  
        <tr>
          <th class="k_head_small" >社員番号(ログインID)</th>
        </tr>
        <tr>
          <td><input type="text" id="syain_no" name="syain_no"  class="sk_detail_t_s_readonly" maxlength="6" minlength="6" pattern="^[0-9A-Za-z]+$"  placeholder="※英数字6文字で入力" required></td>
        </tr>
        </table> 
                
        <br>
        <table>  
        <tr>
          <th class="k_head_small" >氏名</th>
        </tr>
        <tr>
          <td><input type="text" id="syain_name" name="syain_name"  class="sk_detail_t_s_readonly" maxlength="40" placeholder="※40文字まで入力可"></td>
        </tr>
        </table> 

        <br>
             
        <table>  
        <tr>
          <th class="k_head_small" >部署</th>
        </tr>
        <tr>
            <td>
              <select  name="ddl_busyo" id="ddl_busyo" style="width: 300px; height: 25px;">
               <option></option>
                      {% for Busyo in Busyostr %}
              <option>{{ Busyo.busyoid }}:{{ Busyo.busyoname }}</option>
                       {% endfor %}
              </select>
            </td>      
        </tr>
        </table>
        
        <br>
        
        <table>  
        <tr>
          <th class="k_head_small" >申請許可権限</th>
        </tr>
        <tr>
            <td>
              <select  name="ddl_kyoka" id="ddl_kyoka" style="width: 300px; height: 25px;">
              <option>0</option>
              <option>1</option>
              <option>9</option>
              </select>
            </td>      
        </tr>
        </table>
        <font size="1" color="#000099">※申請許可権限 : 0.申請許可権限なし / 1.申請許可権限あり / 9.ADMIN権限</font><br>
        
        <br>
             
        <table>  
        <tr>
          <th class="k_head_small" >ログインパスワード</th>
        </tr>
        <tr>
          <td><input  type="password" id="password" name="password"  class="k_title_small"  maxlength="40" placeholder="※40文字まで入力可" required></td>
        </tr>
        </table> 
        
        <br>
        
        <table>  
        <tr>
          <th class="k_head_small" >メールアドレス</th>
        </tr>
        <tr>
          <td><input  type="text" id="mail" name="mail"  class="k_title_small"  maxlength="100" placeholder="※100文字まで入力可"></td>
        </tr>
        </table> 
        <br>
                                   
        <table>  
        <tr>
          <th class="k_head" >個人フォルダ</th>
        </tr>
        <tr>
          <td><input  type="text" id="folder_path" name="folder_path" class="k_title" maxlength="250" placeholder="※250文字まで入力可" ></td>
        </tr>
        </table> 
        <br>
                                                    
        <table>  
        <tr>
          <th class="k_head" >ダウンロードファイル格納先</th>
        </tr>
        <tr>
          <td><input  type="text" id="doc_path" name="doc_path" class="k_title" maxlength="250" placeholder="※250文字まで入力可" ></td>
        </tr>
        </table> 
        <br>
        <input id="mode"  name="mode" class="textarea_hidden" value={{MODE}}>
        <input id="userid"  name="userid" class="textarea_hidden" value={{ID}}>
        
{% else %}

    
    {% if MODE == 'edit' %}
    
    <font size="1" color="#000099">編集モード</font><br>
        <br>
      {% for Empstr_Admin in Syainstr %}
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >社員番号(ログインID)</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="syain_no" name="syain_no"  class="sk_detail_t_s_readonly" value={{Empstr_Admin.M_Syain.id }}></td>
        </tr>
        </table> 
                
        <br>
        <table>  
        <tr>
          <th class="k_head_small" >氏名</th>
        </tr>
        <tr>
          <td><input type="text" id="syain_name" name="syain_name"  class="sk_detail_t_s_readonly" maxlength="40" value={{Empstr_Admin.M_Syain.name}}></td>
        </tr>
        </table> 

        <br>
             
        <input id="busyo"  name="busyo" class="textarea_hidden"  value={{Empstr_Admin.M_Syain.busyo }}>
     
        <table>  
        <tr>
          <th class="k_head_small" >部署</th>
        </tr>
        <tr>
            <td>
              <select  name="ddl_busyo" id="ddl_busyo" style="width: 300px; height: 25px;">
               <option>{{Empstr_Admin.M_Syain.busyo }}:{{Empstr_Admin.M_Busyo.busyoname }}</option>
                      {% for Busyo in Busyostr %}
              <option>{{ Busyo.busyoid }}:{{ Busyo.busyoname }}</option>
                       {% endfor %}
              </select>
            </td>      
        </tr>
        </table>
        
        <br>
        
        <table>  
        <tr>
          <th class="k_head_small" >申請許可権限</th>
        </tr>
        <tr>
            <td>
              <select  name="ddl_kyoka" id="ddl_kyoka" style="width: 300px; height: 25px;" value={{Empstr_Admin.M_Syain.authority }}>
              <option>{{Empstr_Admin.M_Syain.authority }}</option>
              <option>0</option>
              <option>1</option>
              <option>9</option>
              </select>
            </td>      
        </tr>
        </table>
        <font size="1" color="#000099">※申請許可権限 : 0.申請許可権限なし / 1.申請許可権限あり / 9.ADMIN権限</font><br>
        
        <br>
             
        <table>  
        <tr>
          <th class="k_head_small" >ログインパスワード</th>
        </tr>
        <tr>
          <td><input  type="password" id="password" name="password"  class="k_title_small"  maxlength="40" value={{Empstr_Admin.M_Syain.password }} required></td>
        </tr>
        </table> 
        
        <br>
        
        <table>  
        <tr>
          <th class="k_head_small" >メールアドレス</th>
        </tr>
        <tr>
          <td><input  type="text" id="mail" name="mail"  class="k_title_small"  maxlength="100" value={{Empstr_Admin.M_Syain.mail}}></td>
        </tr>
        </table> 
        <br>
                                   
        <table>  
        <tr>
          <th class="k_head" >個人フォルダ</th>
        </tr>
        <tr>
          <td><input  type="text" id="folder_path" name="folder_path" class="k_title" maxlength="250" value={{Empstr_Admin.M_Syain.path_folder }}></td>
        </tr>
        </table> 
        <br>
                                                    
        <table>  
        <tr>
          <th class="k_head" >ダウンロードファイル格納先</th>
        </tr>
        <tr>
          <td><input  type="text" id="doc_path" name="doc_path" class="k_title" maxlength="250" value={{Empstr_Admin.M_Syain.path_doc }}></td>
        </tr>
        </table> 
        <br>
        {% endfor %}
        <input id="mode"  name="mode" class="textarea_hidden" value={{MODE}}>
        <input id="userid"  name="userid" class="textarea_hidden" value={{ID}}>
        
        
    {% else %}        
        
    <font size="1" color="#000099">削除モード</font><br>
        <br>
        {% for Empstr_Admin in Syainstr %}
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >社員番号(ログインID)</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="syain_no" name="syain_no"  class="sk_detail_t_s_readonly" value={{Empstr_Admin.M_Syain.id }}></td>
        </tr>
        </table>
         
        <br>
        
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >氏名</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="syain_name" name="syain_name"  class="sk_detail_t_s_readonly" value={{Empstr_Admin.M_Syain.name}}></td>
        </tr>
        </table> 
        
        <br>
        
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >部署</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="busyo" name="busyo"  class="k_title_small"  value={{Empstr_Admin.M_Syain.busyo }}:{{Empstr_Admin.M_Busyo.busyoname }}></td>
        </tr>
        </table> 
        
        <br>
        
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >申請許可権限</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="authority" name="authority"  class="k_title_small"  value={{Empstr_Admin.M_Syain.authority}}></td>
        </tr>
        </table> 
        
        <br>
             
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >ログインパスワード</th>
        </tr>
        <tr>
          <td><input readonly   type="password" id="password" name="password"  class="k_title_small"  value={{Empstr_Admin.M_Syain.password}}></td>
        </tr>
        </table> 
        
        <br>
        
        <table>  
        <tr>
          <th class="sk_detail_h_s_readonly" >メールアドレス</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="mail" name="mail"  class="k_title_small"  value={{Empstr_Admin.M_Syain.mail}}></td>
        </tr>
        </table> 
        
        <br>
                                   
        <table>  
        <tr>
          <th class="sk_detail_h_l_readonly" >個人フォルダ</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="folder_path" name="folder_path" class="k_title" value={{Empstr_Admin.M_Syain.path_folder}}></td>
        </tr>
        </table>
         
        <br>
                                                    
        <table>  
        <tr>
          <th class="sk_detail_h_l_readonly" >ダウンロードファイル格納先</th>
        </tr>
        <tr>
          <td><input readonly  type="text" id="doc_path" name="doc_path" class="k_title" value={{Empstr_Admin.M_Syain.path_doc}} ></td>
        </tr>
        </table>
        <br>
        {% endfor %}
        <input id="mode"  name="mode" class="textarea_hidden" value={{MODE}}>
        <input id="userid"  name="userid" class="textarea_hidden" value={{ID}}>

    {% endif %}
{% endif %}
        
        
        
        
      <!--非表示のワーク領域。Javasriptで表示された「はい」「いいえ」確認ダイアログで選択した選択肢を格納する-->
        <input id="flg_yes_no"  name="flg_yes_no" class="textarea_hidden">
        <td><input type="submit" name="btnsubmit" id="btnsubmit"  class="btn-delete" value="確定" style="width: 100px; height: 40px;" ></td>
        
        
        
        
        
        
        
 </form>
















{% endblock %}

</body>